@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f5f5;
    font-family: "Fira Sans", serif;
}

header {
    padding: 35px 150px;
    display: flex;
    justify-content: space-between;
    font-family: "Fira Sans", serif;
    align-items: center;
}
main{
    padding: 0px 150px;
}

.title {
    font-size: 40px;
    font-weight: bold;
}

button {
    background-color: transparent;
    border: 1.9px solid #006A50;
    border-radius: 10px;
    color: #006A50;
    padding: 15px 25px;
    font-size: large;
    font-weight: bold;
    font-family: "Fira Sans", serif;
    cursor: pointer;
}

.section1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C6E4D6;
    border-radius: 25px;
    padding: 80px 60px;
    margin: 0 0 80px 0;
    gap: 50px;
}

.bd2 {
    color: rgba(0, 0, 0, 0.500);
    font-size: 25px;
    font-weight: bold;
}

.idea {
    font-size: 55px;
    margin: 12px 0px 20px;
}

.explore {
    background-color: #006A50;
    color: white;
    font-weight: bold;
}

.memorial {
    margin: 0px 10px;
}

.cardHolder {
    display: flex;
    justify-content: space-evenly;
    margin: 40px 0px 80px;
    gap: 20px;
}

.cards {
    border: 1.9px solid #0e0e0e15;
    border-radius: 25px;
    background-color: white;
    padding: 28px;
}

.cardIcon {
    margin: 0px 0px 15px;
}

.cardTitle {
    margin: 0 0 10px;
}

.cardSubtitle {
    color: 0e0e0e;
    opacity: 0.75;
}

.card2 {
    background-color: #C6E4D6;
    border: none;
}

.card1 {
    background-color: rgba(84, 143, 245, 0.2);
    border: none;
}

.card3 {
    background-color: #F7EBCF;
    border: none;
}

.cardBtn1 {
    background-color: #5490F5;
    border: none;
    margin: 25px 0 0 0;
    color: white;
}

.cardBtn2 {
    background-color: #09A15C;
    border: none;
    margin: 25px 0 0 0;
    color: white;
}

.cardBtn3 {
    background-color: #FFC239;
    border: none;
    margin: 25px 0 0 0;
    color: white;
}

.innerTitle {
    margin: 0 0 40px 0;
}

.adviserQuote {
    margin: 0 0 15px 0;
    background-image: url(assets/quote-bg.png);
    background-repeat: no-repeat;
    padding-top: 20px;
}

.adviserName {
    margin: 0 0 5px 0;
}

.adviserBD {
    color: rgb(14, 14, 14, 0.6);
}

.cardHolder2 {
    margin: 0 0 32px 0;
}

.section3>.subtitle {
    margin: 0 0 32px 0;
}

.section3 {
    margin: 0 0 80px 0;
}

.section4>.subtitle {
    margin: 0 0 32px 0;
}

.newsCardHolder {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.newsCard {
    display: flex;
    background-color: white;
    border-radius: 25px;
    padding: 40px 40px;
    align-items: center;
    gap: 30px;
}

.newsImage {
    border-radius: 25px;
}

.newsCardBtn {
    background-color: #006A50;
    color: white;
}

.newsTitle {
    color: rgba(14, 14, 14, 0.80);
    font-size: 28px;
    font-weight: bold;
}

.newsChannel {
    margin: 5px 0px;
}

.newsHolder>.cardSubtitle {
    margin: 10px 0px 20px 0px;
}

.dateTimeHolder {
    display: flex;
    gap: 12px;
    color: rgba(14, 14, 14, 0.70);
}

.section5Holder {
    display: flex;
    flex-direction: column;
    gap: 32px;
    text-align: center;
}

.donationCardHolder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 0 40px;

}

.donationCard {
    border: 1.9px solid #0e0e0e15;
    border-radius: 15px;
    background-color: white;
    padding: 30px;
    font-weight: bold;
    font-size: 38px;
    color: rgba(14, 14, 14, 0.80);
}

.donationCard:hover {
    background-color: #006A50;
    color: white;
    cursor: pointer;
}

.donationBtn {
    display: inline;
    background-color: #006A50;
    color: white;
    margin: 0 auto;
}

.inputDonationHolder {
    padding: 0px 0px;
}

.donationInput {
    width: 80%;
    padding: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.1);
}

.donationInput::placeholder {
    font-family: "Fira Sans", serif;
    text-align: center;
    font-size: medium;
}

.section5 .title {
    margin: 80px 0 0 0;
}

.section5 .subtitle {
    color: rgba(14, 14, 14, 0.70);
}

.section5 {
    margin: 0 0 80px 0;
}

.section6 {
    padding: 80px 120px 50px 120px;
    background-color: #C6E4D6;
    border-radius: 25px;
    text-align: center;
    margin: 0 0 80px 0;
}

.section6 .title {
    margin: 0 0 30px 0;
}

.section6 .subtitle {
    width: 50%;
    margin: 0 auto 30px;
}

.inputHolder {
    display: flex;
    justify-content: center;
    margin: 0 0 30px 0;
}

.emailInput {
    border: none;
    border-radius: 10px 0 0 10px;
    width: 50%;
    outline: none;
    height: 55px;
    padding: 0 30px;
    margin: 0 0 0 0;
}

.emailInput::placeholder {
    font-family: "Fira Sans", serif;
    font-size: medium;
}

.subscribeBtn {
    background-color: #006A50;
    color: white;
    height: 55px;
    margin: 0 0 0 0;
    border: none;
    border-radius: 0 10px 10px 0;
}
footer{
    background-color: white;
    text-align: center;
    padding: 60px 250px;
}
footer h1{
    margin: 0 0 40px 0;
}
footer hr{
    margin: 0 0 40px 0;
}
.opinionSection{
    margin-bottom: 80px;
}
.mediaHolder{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.tableHolder{
    padding: 30px;
    background-color: white;
    border: 25px;
}

table{
    width: 100%;
    border-collapse: collapse;
}

th{
    background-color: #C6E4D6;
    padding: 20px;
    font-size: large;
    text-align: left;
    border: 1px solid rgba(14, 14, 14, 0.30);
}
td{
    padding: 20px;
    border: 1px solid rgba(14, 14, 14, 0.30);
    font-weight: bold;
}
select{
    padding: 10px;
    background-color: #C6E4D6;
    font-family: "Fira Sans", serif;
    border: 1px solid rgba(0, 0, 0, 0.45);
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
.tdSelection{
    text-align: center;
    width: 180px;
}
.tableHeaderHolder{
    display: flex;
    justify-content: space-between;
    background-color: #C6E4D6;
    padding: 20px;
    font-size: large;
    border: 1px solid rgba(14, 14, 14, 0.30);
    font-weight: bold;
}
.coloredCard{
    background-color: #C6E4D6;
}